<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <!-- Thymeleaf standard url syntax -> http://www.thymeleaf.org/doc/articles/standardurlsyntax.html -->
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../../static/css/style.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
    <div class="container"><!-- Thymeleaf page layouts - http://www.thymeleaf.org/doc/articles/layouts.html -->
        <div th:fragment="header">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/" th:href="@{/}">HOME</a>
                    </div>
                        <ul class="nav navbar-nav">
                            <li>
                                <a th:href="@{/products}">Products</a>
                            </li>
                            <li>
                                <a th:href="@{/products/add}">Add Product</a>
                            </li>
                        </ul>
                </div>
            </nav>
            <div class="jumbotron">
                <div class="row text-center">
                    <h2>My Spring MVC Application</h2>
                </div>
                <div class="row text-center">
                    <!--<img src="../../images/spring.png" width="30%" th:src="@{/images/spring.png}" alt="site image"/>-->
                </div>
            </div>
        </div>
    </div>
</body>
</html>