<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>List of Products</title>
</head>
<body>
    <th:block th:include="layout/header"></th:block>
    <div class="container">
        <div th:if="${not #lists.isEmpty(products)}">
            <h2>List of Products</h2>
            <table class="table table-striped">
                <tr>
                    <th>
                       Id
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        Type
                    </th>
                    <th>
                        Category
                    </th>
                    <th>
                        Price
                    </th>
                    <th>
                        Edit
                    </th>
                    <th>
                        Delete
                    </th>
                </tr>
                <tr th:each="product : ${products}">
                    <td th:text="${product.id}"></td>
                    <td th:text="${product.name}"></td>
                    <td th:text="${product.description}"></td>
                    <td th:text="${product.type}"></td>
                    <td th:text="${product.category}"></td>
                    <td th:text="${product.price}"></td>
                    <td><a th:href="${'/products/edit/' + product.id}" class="btn btn-default">Edit</a></td>
                    <td><a th:href="${'/products/delete/' + product.id}" class="btn btn-danger">Delete</a></td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>